<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <fieldset>
        <legend>로그인</legend>

        <section class="login-box">
            <!--로그인 경로-->
            <form th:action="@{/member/login}" method="post">
                <section class="input-sec">
                    <div class="input-sec__input-box">
                        <input type="text" id="login-id" name="loginId" placeholder="아이디"> <br>
                        <input type="password" id="password" name="password" placeholder="비밀번호">
                    </div>
                    <button id="login-btn">로그인</button>
                </section>
            </form>
        </section>
    </fieldset>
</main>

</body>
</html>